<div class="panel panel-default">
  <div class="panel-heading">Forgot your password?</div>
  <div class="panel-body">
    <div class="form-group"></div>
      <%= form_for(resource, as: resource_name, url: password_path(re